  <tbody>
          <tr>
             <td>{{id}}</td>
            <td>{{first_name}}</td>
             <td>{{last_name}}</td>
             <td>{{rank}}</td>
             <td>{{#each certifications}} {{cert_name}}{{/each}}</td>
            <td>{{email}}</td>
         </tr>
   </tbody>