
    <article class="employee">
      <div>
        {{id}} <span> </span>{{first_name}}<span> </span> {{last_name}}
        <span> | </span> {{rank}}
        <span> | </span>{{station.station_name}}
        <span> | </span>{{#each certifications}} {{cert_name}} {{/each}}
        {{!-- | --}}
        {{!-- <a href="/employee/{{id}}">Click to update</a> --}}
      </div>
    </article>
