
    <article class="employee">
      <div>
        {{id}} <span> </span></spand>{{first_name}}<span> </span> {{last_name}}<span> </span> {{Certification}}
        {{!-- | --}}
        {{!-- <a href="/employee/{{id}}">Click to update</a> --}}
      </div>
    </article>
